{% set navigation_bar = [['default', 'Home'], ['login', 'Login']]%}
{% set active_page = active_page|default('default') %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Grading Board</title>

  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/cover.css" rel="stylesheet">
  <link href="css/custom.css" rel="stylesheet">
</head>
<body>
<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">

      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">Computer Science</h3>
          <nav>
            <ul class="nav masthead-nav">
              {% for item in navigation_bar %}
              <li {% if item[0] == active_page %}class="active"{% endif %}><a href="/stealth/?site={{ item[0] }}">{{ item[1] }}</a></li>
              {% endfor %}
            </ul>
          </nav>
        </div>
        <div>
	  <h1 style="font-size: 98px;">Grading Board</h1>
        </div>
      </div>

      <div class="inner cover">
{% block content %}
{% endblock %}
      </div>

      <div class="mastfoot">
        <div class="inner">
          <p>Based on cover template by <a href="https://twitter.com/mdo">@mdo</a>.</p>
        </div>
      </div>

    </div>
  </div>
</div>
{% block scripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
{% endblock %}
</body>
</html>
