{% extends "base.twig" %}

{% block content %}
<div>
Course status: Full
</div>
<form method="POST" action="/stealth/">
  <input tupe="text" name="name" placeholder="Student name" />
  <input type="hidden" name="site" value="board" />
  <input type="hidden" name="action" value="search" />
  <input type="submit" value="search" />
</form>
{% if students %}
  {% for student in students %}
  <div>
    {{ student.id }} {{ student.first_name }} {{ student.last_name }}
  </div>
  {% endfor %}
{% endif %}
{% endblock %}
