{% extends "base.twig" %}
{% set active_page = "panel" %}

{% block content %}
{% if phase_two == false %}
<div style="width: 300px; margin: 0 auto;">
<form class="form-signin" action="/stealth/" method="POST">
  <h2 class="form-signin-heading">Please sign in</h2>
  <input name="username" class="form-control" placeholder="Username" required autofocus />
  <input type="password" name="password" class="form-control" placeholder="Password" required />
  <div style="height: 20px;"></div>
  <button class="btn btn-default btn-block" type="submit">Sign in</button>
  <input type="hidden" name="site" value="{{ active_page }}" />
  <input type="hidden" name="action" value="login" />
</form>
{% if error %}
<div style="padding: 20px 0px 0px 0px;">
{{ error }}
</div>
{% endif %}
</div>
{% endif %}

{% if phase_two %}
Please enter token:
<form class="form-inline" method="POST" action="/stealth/">
  <div class="form-group">
    <input tupe="text" class="form-control" name="authtoken" placeholder="Token" />
    <input type="hidden" name="site" value="{{ active_page }}" />
    <input type="hidden" name="action" value="login2" />
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
{% endif %}
{% endblock %}
